# Base de Datos PostgreSQL
POSTGRES_USER=cinetickets_user
POSTGRES_PASSWORD=cinetickets_password
POSTGRES_DB=cinetickets_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://cinetickets_user:cinetickets_password@db:5432/cinetickets_db?schema=public

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# API
API_PORT=3000
NODE_ENV=development
HOLD_TTL_SECONDS=480

# App Móvil (Expo)
# Para Android Emulator usar: http://10.0.2.2:3000
# Para iOS Simulator usar: http://localhost:3000
# Para dispositivo físico usar la IP local de tu máquina en la red: http://<LAN_IP>:3000
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
